.colorList-tile {
  display: block;
  width: 2em;
  height: 2em;
}

.projectContainer-project {
  margin: 20px;
  width: 40%;
  ul {
    display: flex;
  }
}

.project-delete-button {
  display: block;
  width: 2em;
  height: 2em;
  border: 1px black solid;
}
