* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #FCC606;
}

.palette-info {
  display: flex;
  background-image: url('https://ak9.picdn.net/shutterstock/videos/28651609/thumb/1.jpg');
    color: #FCC606;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-project-palette {
  display: flex;
  flex-direction: row;
  text-align: center;
}
