* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.palette-info {
  display: flex;
}

.main-project-palette {
  display: flex;
  flex-direction: row;
  text-align: center;
}
