.palette-container {
    width: 50%;
    background-color: #80008091;
    margin: 20px;
    border-radius: 20px;
    border-right: 3px solid #79189D;
    .generate-pal {
        display: flex;
        justify-content: space-around;
        margin: 20px;
        .pal {
            width: 47%;
        }
    }
}