.generate-button {
    background: transparent;
    border: 3px solid #FCC606;
    padding: 10px;
    height: 8em;
    border-radius: 50%;
    font-size: 1em;
    position: relative;
    top: 14em;
    color: #FCC606;
    cursor: pointer;
    &:hover {
      background-color: #FCC606;
      font-weight: bold;
      color: black;
    }
}