.generate-button {
    background: transparent;
    border: 3px solid #B3B3F1;
    padding: 10px;
    height: 8em;
    border-radius: 50%;
    font-size: 1em;
    cursor: pointer;
    &:hover {
      background-color: #B3B3F1;
      font-weight: bold;
    }
}