nav {
    background-color: #B3B3F1;
    margin: 0;
    padding: 5px;
    h1 {
        font-family: 'Zhi Mang Xing', cursive;
        padding: 10px;
        font-size: 4em;
        text-align: center;
        color: #dc65c6;
        text-shadow: 2px 2px #607D8B;
    }
}