nav {
    background-color: #250064;
    margin: 0;
    padding: 5px;
    h1 {
        font-family: 'Zhi Mang Xing', cursive;
        padding: 10px;
        font-size: 4em;
        text-align: center;
        color: #FCC606;
        text-shadow: 4px 4px #69116D;
    }
}